In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

jute = "jute.csv"
wheat = "wheat.csv"

dataset = pd.read_csv(wheat)

In [42]:
#dataset

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Crop Name</th>
      <th>Area Name</th>
      <th>Area of Land in acres</th>
      <th>Amount of Production in Tons</th>
      <th>Rainfall in MM</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Wheat</td>
      <td>Bakergonj</td>
      <td>150</td>
      <td>70</td>
      <td>19.645833</td>
      <td>1970</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Wheat</td>
      <td>Bogra</td>
      <td>5690</td>
      <td>2720</td>
      <td>2.500000</td>
      <td>1970</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Wheat</td>
      <td>Chittagonj</td>
      <td>45</td>
      <td>15</td>
      <td>43.000000</td>
      <td>1970</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Wheat</td>
      <td>Chittagonj  H.T</td>
      <td>5</td>
      <td>2</td>
      <td>43.000000</td>
      <td>1970</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Wheat</td>
      <td>Comilla</td>
      <td>16505</td>
      <td>8575</td>
      <td>25.750000</td>
      <td>1970</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Wheat</td>
      <td>Dhaka</td>
      <td>15700</td>
      <td>5540</td>
      <td>14.000000</td>
      <td>1970</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Wheat</td>
      <td>Dinajpur</td>
      <td>6730</td>
      <td>2695</td>
      <td>10.500000</td>
      <td>1970</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Wheat</td>
      <td>Faridpur</td>
      <td>76150</td>
      <td>21510</td>
      <td>14.750000</td>
      <td>1970</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Wheat</td>
      <td>Jessore</td>
      <td>16490</td>
      <td>5825</td>
      <td>17.750000</td>
      <td>1970</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Wheat</td>
      <td>Khulna</td>
      <td>585</td>
      <td>190</td>
      <td>3.250000</td>
      <td>1970</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Wheat</td>
      <td>Kishoregonj</td>
      <td>1340</td>
      <td>530</td>
      <td>19.645833</td>
      <td>1970</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Wheat</td>
      <td>Kustia</td>
      <td>38880</td>
      <td>14245</td>
      <td>19.645833</td>
      <td>1970</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Wheat</td>
      <td>Mymensingh</td>
      <td>6060</td>
      <td>1700</td>
      <td>7.750000</td>
      <td>1970</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Wheat</td>
      <td>Noakhali</td>
      <td>710</td>
      <td>185</td>
      <td>19.645830</td>
      <td>1970</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Wheat</td>
      <td>Pabna</td>
      <td>61315</td>
      <td>21900</td>
      <td>19.645830</td>
      <td>1970</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Wheat</td>
      <td>Patuakhali</td>
      <td>35</td>
      <td>12</td>
      <td>19.645830</td>
      <td>1970</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Wheat</td>
      <td>Rajshahi</td>
      <td>39150</td>
      <td>14030</td>
      <td>19.645830</td>
      <td>1970</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Wheat</td>
      <td>Rangpur</td>
      <td>15800</td>
      <td>6075</td>
      <td>10.000000</td>
      <td>1970</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Wheat</td>
      <td>Sylhet</td>
      <td>355</td>
      <td>140</td>
      <td>43.500000</td>
      <td>1970</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Wheat</td>
      <td>Tangail</td>
      <td>9640</td>
      <td>3920</td>
      <td>19.645830</td>
      <td>1970</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Wheat</td>
      <td>Bakergonj</td>
      <td>370</td>
      <td>180</td>
      <td>14.634615</td>
      <td>1971</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Wheat</td>
      <td>Bogra</td>
      <td>6210</td>
      <td>3370</td>
      <td>14.500000</td>
      <td>1971</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Wheat</td>
      <td>Chittagonj</td>
      <td>5</td>
      <td>2</td>
      <td>2.500000</td>
      <td>1971</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Wheat</td>
      <td>Chittagonj  H.T</td>
      <td>5</td>
      <td>2</td>
      <td>2.500000</td>
      <td>1971</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Wheat</td>
      <td>Comilla</td>
      <td>19710</td>
      <td>10420</td>
      <td>18.000000</td>
      <td>1971</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Wheat</td>
      <td>Dhaka</td>
      <td>15650</td>
      <td>5265</td>
      <td>31.500000</td>
      <td>1971</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Wheat</td>
      <td>Dinajpur</td>
      <td>2025</td>
      <td>610</td>
      <td>4.750000</td>
      <td>1971</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Wheat</td>
      <td>Faridpur</td>
      <td>73635</td>
      <td>22415</td>
      <td>21.750000</td>
      <td>1971</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Wheat</td>
      <td>Jessore</td>
      <td>16875</td>
      <td>5325</td>
      <td>4.000000</td>
      <td>1971</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Wheat</td>
      <td>Khulna</td>
      <td>775</td>
      <td>275</td>
      <td>1.500000</td>
      <td>1971</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>1657</th>
      <td>Wheat</td>
      <td>Mymensingh</td>
      <td>3736</td>
      <td>3415</td>
      <td>10.500000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1658</th>
      <td>Wheat</td>
      <td>Mymensingh Division</td>
      <td>30774</td>
      <td>31289</td>
      <td>10.500000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1659</th>
      <td>Wheat</td>
      <td>Narail</td>
      <td>9084</td>
      <td>9925</td>
      <td>6.110000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1660</th>
      <td>Wheat</td>
      <td>Narayangonj</td>
      <td>560</td>
      <td>397</td>
      <td>6.110000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1661</th>
      <td>Wheat</td>
      <td>Narsingdi</td>
      <td>700</td>
      <td>623</td>
      <td>6.110000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1662</th>
      <td>Wheat</td>
      <td>Natore</td>
      <td>62370</td>
      <td>81204</td>
      <td>6.110000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1663</th>
      <td>Wheat</td>
      <td>Nawabgonj</td>
      <td>69480</td>
      <td>90176</td>
      <td>6.110000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1664</th>
      <td>Wheat</td>
      <td>Netrokona</td>
      <td>3165</td>
      <td>2434</td>
      <td>6.110000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1665</th>
      <td>Wheat</td>
      <td>Nilphamari</td>
      <td>11866</td>
      <td>14023</td>
      <td>6.110000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1666</th>
      <td>Wheat</td>
      <td>Noagaon</td>
      <td>49799</td>
      <td>63220</td>
      <td>6.110000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1667</th>
      <td>Wheat</td>
      <td>Noakhali</td>
      <td>24</td>
      <td>23</td>
      <td>6.110000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1668</th>
      <td>Wheat</td>
      <td>Pabna</td>
      <td>101845</td>
      <td>126403</td>
      <td>6.110000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1669</th>
      <td>Wheat</td>
      <td>Panchagar</td>
      <td>41170</td>
      <td>53433</td>
      <td>6.110000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1670</th>
      <td>Wheat</td>
      <td>Patuakhali</td>
      <td>300</td>
      <td>124</td>
      <td>0.750000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1671</th>
      <td>Wheat</td>
      <td>Perojpur</td>
      <td>267</td>
      <td>262</td>
      <td>6.110000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1672</th>
      <td>Wheat</td>
      <td>Rajbari</td>
      <td>41110</td>
      <td>48261</td>
      <td>6.110000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1673</th>
      <td>Wheat</td>
      <td>Rajshahi</td>
      <td>70898</td>
      <td>93684</td>
      <td>6.750000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1674</th>
      <td>Wheat</td>
      <td>Rajshahi Division</td>
      <td>377247</td>
      <td>478266</td>
      <td>6.750000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1675</th>
      <td>Wheat</td>
      <td>Rangamati</td>
      <td>0</td>
      <td>0</td>
      <td>8.250000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1676</th>
      <td>Wheat</td>
      <td>Rangpur</td>
      <td>8247</td>
      <td>9672</td>
      <td>6.500000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1677</th>
      <td>Wheat</td>
      <td>Rangpur Division</td>
      <td>295075</td>
      <td>377541</td>
      <td>6.500000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1678</th>
      <td>Wheat</td>
      <td>Satkhira</td>
      <td>3684</td>
      <td>3919</td>
      <td>7.750000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1679</th>
      <td>Wheat</td>
      <td>Shariatpur</td>
      <td>10790</td>
      <td>13774</td>
      <td>6.110000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1680</th>
      <td>Wheat</td>
      <td>Sherpur</td>
      <td>2783</td>
      <td>2822</td>
      <td>6.110000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1681</th>
      <td>Wheat</td>
      <td>Sirajgonj</td>
      <td>15614</td>
      <td>16383</td>
      <td>6.110000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1682</th>
      <td>Wheat</td>
      <td>Sunamgonj</td>
      <td>598</td>
      <td>455</td>
      <td>6.110000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1683</th>
      <td>Wheat</td>
      <td>Sylhet</td>
      <td>382</td>
      <td>276</td>
      <td>8.500000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1684</th>
      <td>Wheat</td>
      <td>Sylhet Division</td>
      <td>2238</td>
      <td>1771</td>
      <td>8.500000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1685</th>
      <td>Wheat</td>
      <td>Tangail</td>
      <td>15029</td>
      <td>15893</td>
      <td>6.000000</td>
      <td>2014</td>
    </tr>
    <tr>
      <th>1686</th>
      <td>Wheat</td>
      <td>Thakurgaon</td>
      <td>143466</td>
      <td>187325</td>
      <td>6.110000</td>
      <td>2014</td>
    </tr>
  </tbody>
</table>
<p>1687 rows × 6 columns</p>
</div>

In [ ]:
X = dataset[['Area of Land in acres','Rainfall in MM','Year']]
# X = dataset[['Area Name']]
X = X.values
#X = X.reshape(-1,2)
y = dataset[['Amount of Production in Tons']]
y = y.values

In [104]:
# length= range(1687)
# plt.xticks(length,X)
plt.plot(X,y,"+") 
plt.show()